h1 {
  text-indent: 100%;
  overflow-x: hidden;
  background-image: url(../public/logo.png) !important;
  height: 100px;
  background-size: auto 100px;
  background-position: center center;
  background-repeat: no-repeat;
  top: -200px !important;
}
input::placeholder {
  color: #41b883 !important;
}